.componentContainer {
    // height: fit-content;
    height: 100vh;
    width: fit-content;


    padding: 1em;

    border: solid 1px lightblue;
    border-radius: 0.5em;

    // background-color: red;


    max-width: 100%;
    // min-width: 1000pt;
    box-sizing: border-box;

    .scrollWise{
        height: 100%;
        width: 100%;

        background-color: aqua;
        box-sizing: border-box;

    }

    .notesHolder {
        // height: fit-content;
        height: 80%;
        width: 100%;

        overflow-y: scroll;

        display: flex;
        flex-direction: column;
        gap: 1em;
        box-sizing: border-box;



        .note {
            // @extend.componentContainer;
            height: fit-content;
            width: 100%;
            padding: 1em;

            border: solid 1px lightblue;
            border-radius: 0.5em;

            text-transform: capitalize;

            max-width: 100%;
            box-sizing: border-box;
            border-width: 1px;
        }
    }


    transition: width ease-in 500ms;

    .buttonHolder {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        // justify-content: space-between;

        button {
            margin-top: 2em;
        }
    }


}

// QUERIES

@media(max-width:900px) {
    .componentContainer {
        width: 100%;
        border-width: 0px;
    }
}

@media(min-width:900px) {
    .componentContainer {
        width: 60%;
    }


}